<p>
  <%= content_tag(:label, l(:label_settings_messenger_url)) %>
  <%= text_field_tag('settings[messenger_url]', @settings[:messenger_url], size: 60, placeholder: 'https://rocket.chat/hooks/my_rocket_chat_token') %>
  <em class="info"><%= t(:messenger_url_info_html) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_settings_messenger_icon)) %>
  <%= text_field_tag('settings[messenger_icon]', @settings[:messenger_icon], size: 60) %>
</p>

<p>
  <%= content_tag(:label, l(:label_settings_messenger_channel)) %>
  <%= text_field_tag('settings[messenger_channel]', @settings[:messenger_channel], size: 30, placeholder: 'redmine') %>
  <em class="info"><%= t(:messenger_channel_info_html) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_settings_messenger_username)) %>
  <%= text_field_tag('settings[messenger_username]', @settings[:messenger_username], size: 30) %>
</p>

<p>
  <%= content_tag(:label, l(:label_settings_auto_mentions)) %>
  <%= check_box_tag 'settings[auto_mentions]', 1, @settings[:auto_mentions] %>
</p>
<p>
  <%= content_tag(:label, l(:label_settings_display_watchers)) %>
  <%= check_box_tag 'settings[display_watchers]', 1, @settings[:display_watchers] %>
</p>
<p>
  <%= content_tag(:label, l(:label_settings_post_updates)) %>
  <%= check_box_tag 'settings[post_updates]', 1, @settings[:post_updates] %>
</p>
<p>
  <%= content_tag(:label, l(:label_settings_new_include_description)) %>
  <%= check_box_tag 'settings[new_include_description]', 1, @settings[:new_include_description] %>
</p>
<p>
  <%= content_tag(:label, l(:label_settings_updated_include_description)) %>
  <%= check_box_tag 'settings[updated_include_description]', 1, @settings[:updated_include_description] %>
</p>
<p>
  <%= content_tag(:label, l(:label_settings_post_private_issues)) %>
  <%= check_box_tag 'settings[post_private_issues]', 1, @settings[:post_private_issues] %>
</p>
<p>
  <%= content_tag(:label, l(:label_settings_post_private_notes)) %>
  <%= check_box_tag 'settings[post_private_notes]', 1, @settings[:post_private_notes] %>
</p>
<p>
  <%= content_tag(:label, l(:label_settings_post_wiki_updates)) %>
  <%= check_box_tag 'settings[post_wiki_updates]', 1, @settings[:post_wiki_updates] %>
</p>
