
<div class="box tabular messenger_settings">
  <%
    @messenger_setting = MessengerSetting.find_or_create(@project.id)
%>

<%= labelled_form_for :setting, @messenger_setting,
                      url: { controller: 'messenger_settings',
                             action: 'save', id: @project, tab: 'messenger',
                             partial: 'messenger_settings/save',
                             setting_id: @messenger_setting.id } do |f| %>
    <%= error_messages_for 'messenger_setting' %>
    <div class="box">

      <div class="info"><%= t(:messenger_settings_project_intro) %></div><br />

      <p><%= f.text_field :messenger_url, size: 60, label: l(:label_settings_messenger_url) %><em class="info"><%= l(:label_messenger_project_text_field_info) %> (<%= l(:label_messenger_default_not_visible) %>)</em></p>

      <%= render partial: 'messenger_settings/messenger_text', locals: { f: f, mf: :messenger_icon, size: 60 } %>
      <%= render partial: 'messenger_settings/messenger_text', locals: { f: f, mf: :messenger_channel, size: 30 } %>
      <%= render partial: 'messenger_settings/messenger_text', locals: { f: f, mf: :messenger_username, size: 30 } %>

      <%= render partial: 'messenger_settings/messenger_select', locals: { f: f, mf: :messenger_verify_ssl } %>

      <br />
      <h3><%= l(:label_issue_plural) %></h3>

      <div class="info"><%= t(:messenger_issue_intro) %></div><br />

      <%= render partial: 'messenger_settings/messenger_select', locals: { f: f, mf: :auto_mentions } %>
      <%= render partial: 'messenger_settings/messenger_select', locals: { f: f, mf: :display_watchers } %>
      <%= render partial: 'messenger_settings/messenger_select', locals: { f: f, mf: :post_updates } %>
      <%= render partial: 'messenger_settings/messenger_select', locals: { f: f, mf: :new_include_description } %>
      <%= render partial: 'messenger_settings/messenger_select', locals: { f: f, mf: :updated_include_description } %>
      <%= render partial: 'messenger_settings/messenger_select', locals: { f: f, mf: :post_private_issues } %>
      <%= render partial: 'messenger_settings/messenger_select', locals: { f: f, mf: :post_private_notes } %>

      <br />
      <h3><%= l(:label_wiki) %></h3>

      <div class="info"><%= t(:messenger_wiki_intro) %></div><br />

      <%= render partial: 'messenger_settings/messenger_select', locals: { f: f, mf: :post_wiki } %>
      <%= render partial: 'messenger_settings/messenger_select', locals: { f: f, mf: :post_wiki_updates } %>

      <% if RedmineMessenger::REDMINE_DB_SUPPORT %>
      <br />
      <h3><%= l(:label_db_entry_plural) %></h3>
      <div class="info"><%= t(:messenger_db_intro) %></div><br />
      <%= render partial: 'messenger_settings/messenger_select', locals: { f: f, mf: :post_db } %>
      <%= render partial: 'messenger_settings/messenger_select', locals: { f: f, mf: :post_db_updates } %>
      <% end %>

      <% if RedmineMessenger::REDMINE_CONTACTS_SUPPORT %>
      <br />
      <h3><%= l(:label_contact_plural) %></h3>
      <div class="info"><%= t(:messenger_contacts_intro) %></div><br />
      <%= render partial: 'messenger_settings/messenger_select', locals: { f: f, mf: :post_contact } %>
      <%= render partial: 'messenger_settings/messenger_select', locals: { f: f, mf: :post_contact_updates } %>
      <% end %>

      <% if RedmineMessenger::REDMINE_PASSWORDS_SUPPORT %>
      <br />
      <h3><%= l(:label_settings_post_password) %></h3>
      <div class="info"><%= t(:messenger_passwords_intro) %></div><br />
      <%= render partial: 'messenger_settings/messenger_select', locals: { f: f, mf: :post_password } %>
      <%= render partial: 'messenger_settings/messenger_select', locals: { f: f, mf: :post_password_updates } %>
      <% end %>

    </div>
    <%= submit_tag l(:button_save) %>
<% end %>

</div>
